	.navi {
			

		/* UI Properties */
		background: #EBF4FF 0% 0% no-repeat padding-box;
		opacity: 1;
	}

	.tools-div{

		margin-top: 5%;

	}

	.services-div{

		padding-left: 15%;

	}

	.upper {
			
		/* Layout Properties */
		top: 0px;
		left: 0px;
		height: 50%;

		/* UI Properties */
		background: #EBF4FF 0% 0% no-repeat padding-box;
		opacity: 1;
	}

	.middle {
			
		/* Layout Properties */
		top: 0px;
		left: 0px;
		height: 50%;

		/* UI Properties */
		
		opacity: 1;

		@media only screen and (max-width: 600px) {

			padding-top: 5%;

		}

		@media only screen and (min-width: 600px) {

			padding-top: 5%;

		}

		@media only screen and (min-width: 1200px) {
			
			/* UI Properties */
			padding-top: 158px;
			

		}
	}

	.middle-bottom {
			
		/* Layout Properties */
		top: 0px;
		left: 0px;
		height: 50%;
		opacity: 1;

		@media only screen and (max-width: 600px) {


		}

		@media only screen and (min-width: 600px) {


		}

		@media only screen and (min-width: 1200px) {
			
			/* UI Properties */
			padding-top: 158px;
			

		}

	}

	.lower{

		/* Layout Properties */
		height: 50%;

		/* UI Properties */
		margin-top: 5%;
		background: #0A459E 0% 0% no-repeat padding-box;
		opacity: 1;
	}

	.lower-bottom{


		/* UI Properties */
		margin-top: 0%;
		padding-bottom: 5%;
		background: #0A459E 0% 0% no-repeat padding-box;
		opacity: 1;
	}


	.contact-btn{



		@media only screen and (max-width: 600px) {

			/* Layout Properties */
			top: 36px;
			left: 190px;
			width: 164px;
			height: 44px;
			/* UI Properties */
			background: #2979EC 0% 0% no-repeat padding-box;
			border-radius: 50px;
			opacity: 1;
		}

		@media only screen and (min-width: 600px) {

			/* Layout Properties */
			top: 36px;
			left: 190px;
			width: 164px;
			height: 44px;
			/* UI Properties */
			background: #2979EC 0% 0% no-repeat padding-box;
			border-radius: 50px;
			opacity: 1;
		}

		@media only screen and (min-width: 1200px) {
			
		/* Layout Properties */
		top: 50px;
		left: 1221px;
		width: 164px;
		height: 44px;

		margin-right: 5%;
		margin-top: 5%;

		/* UI Properties */
		background: #2979EC 0% 0% no-repeat padding-box;
		border-radius: 50px;
		opacity: 1;

		}
	}

	.contact-btn-yellow{

		@media only screen and (max-width: 600px) {

			/* Layout Properties */
			top: 36px;
			left: 190px;
			width: 164px;
			height: 44px;
			/* UI Properties */
			background: #FFBE3C 0% 0% no-repeat padding-box;
			border-radius: 50px;
			opacity: 1;
		}

		@media only screen and (min-width: 600px) {

			/* Layout Properties */
			top: 36px;
			left: 190px;
			width: 164px;
			height: 44px;
			/* UI Properties */
			background: #FFBE3C 0% 0% no-repeat padding-box;
			border-radius: 50px;
			opacity: 1;
		}

		@media only screen and (min-width: 1200px) {
			
		/* Layout Properties */
		top: 50px;
		left: 1221px;
		width: 164px;
		height: 44px;

		margin-right: 5%;
		margin-top: 5%;

		/* UI Properties */
		background: #FFBE3C 0% 0% no-repeat padding-box;
		border-radius: 50px;
		opacity: 1;

		}
	}

	.btn-text{


		/* UI Properties */
		text-align: center;
		font: normal normal bold 15px/20px Open Sans;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;

	}

	.marketing{
		/* Layout Properties */
		top: 238px;
		left: 154px;
		width: 565px;
		height: 133px;

		/* UI Properties */
		text-align: left;
		letter-spacing: 0px;
		color: #000000;
		opacity: 1;
	}

	.modern{
		/* Layout Properties */
		top: 45px;
		left: 0px;
		width: 329px;
		height: 55px;

		/* UI Properties */
		text-align: left;
		font: normal normal bold 40px/45px Open Sans;
		letter-spacing: 0px;
		color: #000000;
	}

	.hands-on{

		/* Layout Properties */
		top: 886px;
		left: 154px;
		width: 499px;
		height: 180px;
		/* UI Properties */
		text-align: left;
		font: normal normal normal 20px/25px Open Sans;
		letter-spacing: 0px;
		color: #000000;
		opacity: 1;
	}

	.experts{

		/* Layout Properties */
		top: 0px;
		left: 0px;
		width: 352px;
		height: 55px;
		/* UI Properties */
		text-align: left;
		font: normal normal normal 40px/45px Open Sans;
		letter-spacing: 0px;
		color: #000000;
		}

	.integrated-text{
		/* Layout Properties */
		top: 0px;
		left: 0px;
		width: 241px;
		height: 68px;
		/* UI Properties */
		text-align: left;
		font: normal normal normal 50px/52px Open Sans;
		letter-spacing: 0px;
		color: #000000;
	}

	.marketing-text{
		/* Layout Properties */
		top: 52px;
		left: 0px;
		width: 474px;
		height: 68px;

		/* UI Properties */
		text-align: left;
		font: normal normal bold 50px/52px Open Sans;
		letter-spacing: 0px;
		color: #000000;
	}

	.im-text{

		/* Layout Properties */
		top: 371px;
		left: 153px;
		width: 521px;
		height: 114px;
		/* UI Properties */
		text-align: left;
		font: normal normal normal 20px/25px Open Sans;
		letter-spacing: 0px;
		color: #000000;
		opacity: 1;
	}

	.next-level-text{

		padding-top: 5%;
		/* UI Properties */
		font: normal normal normal 42px/70px Open Sans;
		color: #FFFFFF;
	}

	.marketing-next{
		/* Layout Properties */
		top: 0px;
		left: 411px;
		width: 589px;
		height: 57px;
		/* UI Properties */
		text-align: center;
		font: normal normal bold 42px/70px Open Sans;
		letter-spacing: 0px;
		color: #FFFFFF;
	}

	.no-margin{
	  margin: 0%;
	}

	.no-padding{
		padding: 0px;
	} 

	.ebq-logo{

	    max-width: 100%;
	    height: auto;
	    width: auto; 

		/* UI Properties */
		background: transparent url('img/logo-blue-160x160-1.png') 0% 0% no-repeat padding-box;
		opacity: 1;
	}

	.infinity-logo{

		/* Layout Properties */
	    max-width: 100%;
	    height: auto;
	    width: auto; 
		/* UI Properties */
		opacity: 1;	
	}

	.window-logo{

		/* Layout Properties */
		top: 1210px;
		left: 89px;
		width: 630px;
		height: 446px;

		/* UI Properties */
		background: transparent url('img/Complete-Department-Marketing.png') 0% 0% no-repeat padding-box;
		box-shadow: 3px 6px 15px #00000036;
		opacity: 1;
	}